.float-left {
    float: left;
    margin-left: 25px;
}


.float-right {
    float: right;
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.prijava{
    font-size: 20px;
}

.header{
    background-color: #2d308c;
}

.white{
    color: white;
}

p{
    color: white;
    display: inline-block;
    margin: 0 5px;
}

.card-container {
    position: relative;
}

.waiters-link {
    position: absolute;
    bottom: 15px;
    right: 0px;
    width: 100%;
    text-align: center;
}
