<div class="container-fluid">
    <div class="row" style="min-height: 120px;">
        <div class="col-4 header" style="padding-top: 35px; padding-left: 35px;">
            <span style="font-family: Pacifico; font-size: 25px; color: #e6e6f0;cursor: default; pointer-events: none;" >Kutak dobre hrane</span> 
            <img src="../assets/logo.png" alt="Logo" style="padding-bottom: 15px; margin-left: 15px;">
        </div>

        <div class="col-6 header" style=" padding-top: 25px; padding-left: 90px;" >
            <div>
                <a routerLink="/profile"><img src="../assets/profile.png" alt="Profil" class="img-fluid"> </a> &nbsp;&nbsp;&nbsp;
                <a routerLink="/gost/restaurants"><img src="../assets/restaurant.png" alt="Restorani" class="img-fluid "></a> &nbsp;&nbsp;&nbsp;
                <a routerLink="/gost/reservations"><img src="../assets/reservation.png" alt="Rezervacije" class="img-fluid"></a> &nbsp;&nbsp;&nbsp;
                <a routerLink="/gost/foodDelivery"><img src="../assets/foodDelivery.png" alt="Porudzbine" class="img-fluid"></a> 
            </div>
        </div>
        <div class="col-2 header text-white text-center" style="padding-right: 50px; padding-top: 45px;">
            <div>
                <div class="float-right">
                    <a (click)="logout()" class="prijava" style="color: #e6e6f0">Odjava</a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="text-center" style="margin-top: 30px;"><h1>Porudžbine</h1></div>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">    
            <label for="orderType">Status porudžbine:</label>
            <select (change)="typeChange()" class="form-control" id="orderType" [(ngModel)]="orderType" name="orderType" style="border-color: #2d308c;">
                <option value="pending">Na čekanju</option>
                <option value="confirmed" selected>Aktuelne</option>
                <option value="archived">Arhivirane</option>
                <option value="rejected">Odbijene</option>
            </select>        
        </div>
        <div class="col-sm-4">

        </div>
    </div>

    <div class="row" *ngFor="let order of ordersToShow" style="margin-top: 40px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 user-card" style="background-color: #2d308c;"> 
            <div class="text-center" style="color: white; font-size: 27px; margin-top: 5px;">Opšte informacije</div>
            <div class="row" *ngIf="orderType=='pending'">
                <div class="col-sm-6" >
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 30px;">Ime i prezime: <i>{{order.firstname}} {{order.lastname}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 20px;">Adresa: <i>{{order.deliveryAddress}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px;margin-top: 20px;">Broj: <i>{{order.phoneNumber}}</i></p></div>
                </div>
                <div class="col-sm-6">
                    <div ><p style="font-size: 16px; margin-top: 30px;">Restoran: <i>{{order.restaurant}}</i></p></div>
                    <div *ngIf="order.createdDate"><p style="font-size: 16px; margin-top: 20px;">Vreme porudžbine: <i>
                        {{ order.createdDate.getDate().toString().padStart(2, '0') }}.{{ (order.createdDate.getMonth() + 1).toString().padStart(2, '0') }}.{{ order.createdDate.getFullYear() }}.
                        {{ order.createdDate.getHours().toString().padStart(2, '0') }}:{{ order.createdDate.getMinutes().toString().padStart(2, '0') }}h
                    </i></p></div>  
                </div>
            </div>
            <div class="row" *ngIf="orderType=='confirmed'">
                <div class="col-sm-6" >
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 30px;">Ime i prezime: <i>{{order.firstname}} {{order.lastname}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 20px;">Adresa: <i>{{order.deliveryAddress}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 20px;">Broj: <i>{{order.phoneNumber}}</i></p></div>
                </div>
                <div class="col-sm-6">
                    <div><p style="font-size: 16px; margin-top: 30px;">Restoran: <i>{{order.restaurant}}</i></p></div>
                    <div *ngIf="order.confirmDate"><p style="font-size: 16px; margin-top: 20px;">Vreme potvrde: <i>
                        {{ order.confirmDate.getDate().toString().padStart(2, '0') }}.{{ (order.confirmDate.getMonth() + 1).toString().padStart(2, '0') }}.{{ order.confirmDate.getFullYear() }}.
                        {{ order.confirmDate.getHours().toString().padStart(2, '0') }}:{{ order.confirmDate.getMinutes().toString().padStart(2, '0') }}h
                      </i></p></div>
                    <div><p style="font-size: 16px; margin-top: 20px;">Očekivano vreme dostave: <i>{{order.estimatedTime}} minuta</i></p></div>
                </div>
            </div>

            <div class="row" *ngIf="orderType=='rejected'">
                <div class="col-sm-6" >
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 30px;">Ime i prezime: <i>{{order.firstname}} {{order.lastname}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 20px;">Adresa: <i>{{order.deliveryAddress}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 20px;">Broj: <i>{{order.phoneNumber}}</i></p></div>
                </div>
                <div class="col-sm-6">
                    <div ><p style="font-size: 16px; margin-top: 30px;">Restoran: <i>{{order.restaurant}}</i></p></div>
                    <div *ngIf="order.createdDate"><p style="font-size: 16px; margin-top: 20px;">Vreme porudžbine: <i>
                        {{ order.createdDate.getDate().toString().padStart(2, '0') }}.{{ (order.createdDate.getMonth() + 1).toString().padStart(2, '0') }}.{{ order.createdDate.getFullYear() }}.
                        {{ order.createdDate.getHours().toString().padStart(2, '0') }}:{{ order.createdDate.getMinutes().toString().padStart(2, '0') }}h
                    </i></p></div>  
                </div>
            </div>

            <div class="row" *ngIf="orderType=='archived'">
                <div class="col-sm-6">
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 30px;">Ime i prezime: <i>{{order.firstname}} {{order.lastname}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px; margin-top: 20px;">Adresa: <i>{{order.deliveryAddress}}</i></p></div>
                    <div style="margin-left: 10px;"><p style="font-size: 16px;margin-top: 20px;">Broj: <i>{{order.phoneNumber}}</i></p></div>
                </div>
                <div class="col-sm-6">
                    <div ><p style="font-size: 16px; margin-top: 30px;">Restoran: <i>{{order.restaurant}}</i></p></div>
                    <div *ngIf="order.deliveredDate"><p style="font-size: 16px; margin-top: 20px;">Vreme isporuke: <i>
                        {{ order.deliveredDate.getDate().toString().padStart(2, '0') }}.{{ (order.deliveredDate.getMonth() + 1).toString().padStart(2, '0') }}.{{ order.deliveredDate.getFullYear() }}.
                        {{ order.deliveredDate.getHours().toString().padStart(2, '0') }}:{{ order.deliveredDate.getMinutes().toString().padStart(2, '0') }}h</i></p></div>
                </div>
            </div>
            <hr style="background-color: #f8f8f8;">
            <div class="text-center" style="color: white; font-size: 27px; margin-top: 5px;">Sadržaj</div>
            <div class="row" *ngFor="let dish of order.orderItems" style="margin-top: 20px;">
                <div class="col-sm-4">
                    <p style="font-size: 20px; margin-left: 15px;">Ime: {{dish.name}}</p>
                </div>
                <div class="col-sm-4">
                    <p style="font-size: 20px;">Cena: {{dish.quantity*dish.price}} &nbsp; 
                    </p> 
                </div>
                <div class="col-sm-4">
                    <p style="font-size: 20px;">Količina: {{dish.quantity}} &nbsp; 
                    </p> 
                </div>
            </div>   
            <hr style="background-color: #f8f8f8;">
            <p style="margin-left: 15px">Ukupna cena: <b>{{order.totalPrice}} dinara</b></p>  
            <div *ngIf="order.status=='rejected'" style="margin-left: 15px"><p>Razlog odbijanja: <b><i>{{order.rejectReason}}</i></b></p></div>     
        </div>
        <div class="col-sm-3"></div>
        <br>
    </div>
    

    <br><br>
    <h2 *ngIf="ordersToShow.length==0" class="text-center"><i>Nema porudžbina u ovoj grupi</i></h2>
</div>